body, div, p, main {
    margin: 0;
}

body {
    font-family: Inter, serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 44px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: linear-gradient(180deg, #5057FF 0%, rgba(164, 233, 229, 0.00) 100%);
}

.header__bar {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;

}

.logo:hover {
    cursor: pointer;
    color: #606060;
    filter: invert(42%) saturate(100%) hue-rotate(87deg) brightness(150%) contrast(119%);

    transition: all .4s ease-in-out;

}

.logo__text {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__menu {
    display: flex;
    width: 879px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
}

.header__menu__button {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu__button__user {
    width: 122px;
    height: 46px;
    border-radius: 9999px;
    background: #6A6FE4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    /*Test gradient effect*/
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*Test gradient effect*/
.header__menu__button__user:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.header__menu__button__text {
    width: fit-content;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

