{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <header class="header__container">
        <nav class="header__bar">
            <div class="logo" onclick="location.href='{% url 'home' %}'">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
                <h3 class="logo__text">
                    Locker Rental
                </h3>
            </div>
            <div class="header__menu">
                <a class="header__menu__button" href="{% url 'locations' %}">locations</a>
{#                <a class="header__menu__button" href="">pricing</a>#}
{#                <a class="header__menu__button" href="">contact</a>#}
                
                {% if  user.is_authenticated%}
                    <a class="header__menu__button__user" href="{% url 'user_page' %}">
                        <p class="header__menu__button__text">
                            User
                        </p>    
                    </a>
                {% else %}
                    <a class="header__menu__button__user" href="{% url 'login' %}">
                        <p class="header__menu__button__text">
                            Login
                        </p>
                    </a>
                    <a class="header__menu__button__user" href="{% url 'register' %}">
                        <p class="header__menu__button__text">
                            Register
                        </p>
                    </a>
                {% endif %} 
                
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>